.incidentCard {
    margin-bottom: 5px !important;
    margin-right: 5px;
}

.sm3 {
    width:25%;
}
.sm9 {
    width:75%;
}
.sm12 {
    width:100%;
}

.incidentNumber {
    font-size:smaller;
}
.incidentBox {
    padding: 10px;
    border: 1px solid lightgrey;
    text-align:center;
}

.titleContainer {
    padding: 15px;
    margin-bottom:20px;
    text-align:center;
}
.incidentTitleBox {
    font-size:x-large;
    padding:10px;
    margin-bottom:10px;

}
.incidentRow {
    margin-top:10px;
}
.images {
    float:left;
    margin-right:5px;
}
.fullReport {
    height:500px;
    width:97%;
    padding: 10px;
    border: 1px solid lightgrey;
}
.floatRight {
    float:right;
}
.incidentCardContainer {
    float:left;
    width:220px;
    margin: 2px;
}
.spacerBox {
    height:80px;
}
.incidentLabelSm {
    color:lightslategrey;
    font-size:x-small;
}
.incidentLabel {
    font-size:larger;
}

.tableStyle{  
          display:  table ;
          margin-left :  50px ;
      }
.panelStyle{  
         background: white;
      }
   
.divStyle{
    background:  #eee ;
    padding:  20px ;
    margin:  20px ;
   }
   
.headerCaptionStyle{
    background:  #4B6978 ;
     display:  table-row ;
          border:  solid ;
          text-align :  center ;
          width :  420px ;
          height :  30px ;
          padding-top :  3px ;
          color :  white ;
          margin-left :  100px ;
          display :  block ;
   }
   
   .headerStyle{
    background:  #4B6978 ;
     display:  table-row ;
          border:  solid ;
          text-align :  center ;
          width :  100px ;
          height :  30px ;
          padding-top :  10px ;
          color :  white ;
   }
   
   .tableCaptionStyle{
   background:#4B6978 ;
     display:  block ;
     font-size :  20px ;
     font-weight:  bold ; 
          border:  solid ;
          text-align :  center ;
          width :  650px ;
          height :  30px ;
          padding-top :  3px ;
          border-radius:  25px ;
          margin-left :  30px ;
          margin-top :  20px ;
          color:white;
   }
   
   
   .rowCaptionStyle{
    width :  600px ;
    display :   table-caption ;
    background:  #4B6978 ;
    text-align :  center ;
    padding:  20px ;
     font-size :  20px ;
    font-weight : bold ;
    color :  white ;
   }
   
  .rowStyle{
    display :   table-row ;
    background:  #eee ;
    padding:  20px ;
    margin:  20px ;
    font-weight : bold ;
   }
   
   .CellStyle{  
          display:  table-cell ; 
          border:  solid ;
           border-color :  white ;
          text-align :  center ;
          width :  100px ;
          height :  30px ;
          padding-top :  10px ;
          
      }  

